/* Version DESKTOP */
@font-face {
  font-family: "Raleway";
  src: url("static/Raleway-Regular.ttf");
}
@font-face {
  font-family: "Raleway-thin";
  src: url("static/Raleway-Thin.ttf");
}
@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
body {
  max-width: 1440px;
  margin: auto;
  font-family: "Raleway", sans-serif;
}
header {
  width: 95%;
  margin: auto;
}
h1 {
  font-size: 1.5em;
  font-weight: 700;
}
a {
  text-decoration: unset;
  color: black;
}
a:hover {
  animation: jelly 0.5s;
}
.logo {
  margin-right: auto;
}
.logo:hover {
  cursor: pointer;
}
.topbar {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
}
nav {
  display: flex;
  width: 300px;
}
.navlink {
  flex: 1 50%;
  text-align: center;
  text-decoration: unset;
  color: black;
  padding-top: 1.6em;
}
.navlink:hover {
  border-top: 3px solid #0065fc;
  margin-top: -3px;
  animation: unset;
}
.signin {
  color: #0065fc;
  font-weight: bold;
  text-decoration: unset;
  position: relative;
  padding-top: 1.6em;
}
.signin:hover {
  border-top: 3px solid #0065fc;
  animation: unset;
}
.welcome_txt,
p,
h1 {
  padding-top: 0.5em;
  line-height: 1.4em;
}
.search {
  padding-top: 20px;
  margin-bottom: 30px;
  display: flex;
}
button {
  color: white;
  background-color: #0065fc;
  font-weight: 600;
  font-size: 1.2em;
  font-family: "raleway";
  border: unset;
  height: 3rem;
  width: 9rem;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
button:hover {
  cursor: pointer;
}
.search_input {
  height: 3rem;
  width: 15em;
  border: 1px solid #f2f2f2;
}
.search_input::placeholder {
  opacity: 1;
  color: black;
  font-size: 1.4em;
  font-weight: 700;
  font-family: "raleway";
}
.fa-map-marker-alt {
  font-size: 1.2em;
  background-color: #f2f2f2;
  border-radius: 1rem 0 0 1rem;
  height: 1.1rem;
  padding: 0.8em 0.8em 0.8em 0.8em;
}
.fa-search {
  color: white;
}
.filters_menu {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.filters_title {
  margin-bottom: 1em;
  font-weight: 600;
}
.filters {
  display: flex;
  align-items: center;
  margin-right: 20px;
  padding-right: 20px;
  border: 2px solid #f2f2f2;
  border-radius: 25px 25px 25px 25px;
}
.fa-stack {
  vertical-align: middle;
  font-size: 1.5em;
  margin-left: -7px;
  margin-top: -3px;
  margin-bottom: -3px;
}
.fa-money-bill-wave,
.fa-child,
.fa-heart,
.fa-dog {
  color: #0065fc;
  font-size: 0.8em;
}
.fa-circle {
  color: #deebff;
}
.info {
  display: flex;
  align-items: center;
}
.fa-stack-infoblock {
  margin-right: 0.6em;
  vertical-align: middle;
  font-size: 0.8em;
}
.fa-info {
  color: #0065fc;
  font-size: 0.7em;
}
.far {
  color: #f2f2f2;
}
section {
  display: flex;
  justify-content: space-between;
}
.main_page {
  width: 95%;
  margin: auto;
}
.container {
  background-color: #f2f2f2;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  width: 62%;
}
.main_title {
  font-size: 1.4em;
  font-weight: 600;
  margin-top: 0.2em;
  
  padding-bottom: 20px;
  font-weight: 700;
}
.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.card {
  background-color: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-bottom: 1.5rem;
  padding-bottom: 10px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
}
.fa-star {
  color: #0065fc;
}
.unrated-star {
  color: #f2f2f2;
}
.card-text {
  margin-top: 1.2rem;
  padding-left: 0.8em;
}
strong {
  font-weight: 600;
}
.card h4 {
  font-weight: 700;
}
.card img {
  width: 250px;
  height: 120px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  padding: 5px 5px 5px 5px;
  margin-bottom: -20px;
  object-fit: cover;
}
.end_main{
  margin-top: 0.5em;
  font-weight: 700;
  font-size: 1.2em;
  color: black;
}
aside {
  background-color: #f2f2f2;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-top: 20px;
  width: 30%;
}
.side {
  display: flex;
  flex-direction: column;
}
.side-title {
  display: flex;
  justify-content: space-around;
  font-size: 1.4em;
  font-weight: 600;
  margin-top: 10px;
  padding-bottom: 20px;
}
.sidecard {
  background-color: white;
  display: flex;
  margin: 1em;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
}
.sidecard img {
  width: 8.5rem;
  height: 8.5rem;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 0.2em 1.4em 0.2em 0.2em;
  
  object-fit: cover;
}
.sidecard-text {
  display: flex;
  flex-direction: column;
  margin-top: 1.2em;
}
.sidecard-text h4 {
  font-weight: 700;
  font-size: 1.2em;
}
.side-stars {
  margin-top: auto;
  margin-bottom: 1em;
}
.activites {
  display: flex;
  flex-direction: column;
}
.bloc-activites {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
}
.activity-title {
  padding-left: 2em;
  margin-bottom: 3rem;
  margin-top: 4rem;
  font-size: 1.2em;
  font-weight: 700;
}
.activity-cards h3 {
  font-size: 1.2em;
  margin-left: 1rem;
  margin-top: 1rem;
  padding-bottom: 1em;
  font-weight: bold;
}
.activity-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.activity-cards-large {
  width: 19rem;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
}
.activity-cards-large img {
  height: 24rem;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 15px 15px;
}
.activity-cards-medium {
  width: 20rem;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
}
.activity-cards-medium img {
  height: 10rem;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.activity-cards-small {
  width: 20rem;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
}
.activity-cards-small img {
  height: 8rem;
  width: 100%;
  object-fit: cover;
  object-position: top;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
footer {
  margin-top: 4em;
  display: flex;
  justify-content: flex-start;
  background-color: #f2f2f2;
  height: fit-content;
}
footer a:hover {
  animation: unset;
}
footer h4 {
  font-weight: 700;
  font-size: 1.2em;
  padding-top: 1em;
  padding-bottom: 0.8em;
}
footer a {
  text-decoration: unset;
  color: black;
}
.foot {
  display: flex;
  flex-direction: column;
  flex: 1 50%;
  line-height: 2em;
  margin-top: 1em;
  margin-left: 3em;
}
/* RESPONSIVE GLOBAL */
@media only screen and (max-width: 1200px) {
  .main_page {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 90%;
    min-width: 90%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .end_main{
    margin-bottom: 0.6em;
  }
  .card {
    order: -1;
  }
  article {
    width: 95%;
  }
  aside {
    width: 90%;
    margin: auto;
    margin-top: 1rem;
  }
  .side-title {
    display: flex;
    justify-content: space-between;
  }
  .bloc-activites{
    width: 90%;
    margin: auto;
  }
  .activity-title{
    margin: 1.5em 0 1.5em 0;
  }
  .activity-cards-large{
    width: 12.5rem;
    height: 28rem;
  }
  footer {
    display: flex;
    height: max-content;
    margin: 1em;
  }
  section {
    display: flex;
    flex-direction: column;
  }
}
/*RESPONSIVE TABLETTE*/

@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 1.5rem;
    font-weight: 800;
  }
  nav {
    order: 1;
    flex: 1 100%;
  }
  .navlink {
    border-top-style: none;
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 1rem;
  }
  .navlink:hover {
    border-top-style: none;
    border-bottom: 3px solid #0065fc;
  }
  .signin {
    margin-bottom: 1em;
  }
  .filters {
    margin-bottom: 0.5em;
  }
  .filters p {
    font-size: 0.8em;
    font-weight: 700;
  }
  .main_page {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 90%;
    min-width: 90%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .card {
    order: -1;
  }
  article {
    width: 95%;
  }
  aside {
    width: 90%;
    margin: auto;
    margin-top: 1rem;
  }
  .side-title {
    display: flex;
    justify-content: space-between;
  }
  .activites {
    margin-bottom: 1rem;
  }
  footer {
    display: flex;
    flex-direction: column;
    height: max-content;
    margin: auto;
  }
  section {
    display: flex;
    flex-direction: column;
  }
}

/*RESPONSIVE SMARTPHONES*/

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
    font-weight: 800;
  }
  nav {
    order: 1;
    flex: 1 100%;
  }
  .navlink {
    border-top-style: none;
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 1rem;
  }
  .navlink:hover {
    border-top-style: none;
    border-bottom: 3px solid #0065fc;
  }
  .signin {
    margin-bottom: 1em;
  }
  .filters_menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .filters {
    margin-bottom: 0.5em;
  }
  button {
    display: none;
  }
  .fa-search {
    color: white;
    font-size: 1.5em;
    padding-top: 0.5em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    background-color: #0065fc;
    border-radius: 15px 15px 15px 15px;
  }
  .main_page {
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
  }
  aside {
    width: 100%;
    height: max-content;
    border-radius: unset;
    padding: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .side-title {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 1.5em;
    font-weight: 700;
  }
  .sidecard {
    width: 90%;
    margin: auto;
    margin-bottom: 1.4em;
    display: flex;
    justify-content: flex-start;
  }
  .sidecard-img {
    flex: 1 60%;
    padding: 0.2em;
    object-fit: cover;
  }
  .sidecard-text {
    flex: 1 50%;
  }
  .sidecard-text h4 {
    font-size: 1em;
  }
  .sidecard-text p {
    font-size: 0.8em;
  }
  .container {
    background: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    padding: unset;
    margin: unset;
  }
  .main_title{
    font-size: 2em;
    margin-top: 1.5em;
    margin-right: auto;
  }
  .main a{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  .main{
    padding: unset;
  }
  .card{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  .card_img{
    min-width: 97%;
    margin: auto;
    padding: unset;
    margin: auto;
  }
  .main_title {
    font-size: 1.2em;
    font-weight: 700;
    padding-left: 0.5em;
  }
  .end_main {
    font-size: 0.9em;
    font-weight: 800;
    margin-right: auto;
    padding-left: 0.5em;
  }
  .activity-title{
    margin-right: auto;
    padding-left: 0.5em;
    margin-bottom: 1em;
  }
  .bloc-activites{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .activity-title {
    margin-top: unset;
  }
  .activity-cards {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: unset;
  }
  .activity-cards-large, .activity-cards-medium, .activity-cards-small{
    margin-bottom: 2em;
  }
  .photos-activites {
    object-fit: cover;
    height: 4.5rem;
    max-height: 4.5rem;
    min-height: 4.5rem;
  }
  footer {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
    height: fit-content;
  }
}
/*Réalisation: Ludovic THUARD pour OpenClassrooms*/
